<%- include('../partials/header') %>

<h1><%= title %></h1>
<% if (currentUser) { %>
<h2>Welcome back, <%= currentUser.first_name %></h2>
<% } else { %>
<h2>Please log in</h2>
<% } %>

<% if (allMessages) { %>
<div class="message-container">
  <% allMessages.forEach(message => { %>
  <div class="card">
    <p><%= message.text %></p>
    <div class="details">
      <% if (currentUser) { %>
      <% if (message.author) { %>
      <span><%= message.author.email %></span>
      <% } else { %>
      <span>Unknown</span>
      <% } %>
      <% if (currentUser.isAdmin) { %>
      <a href="/message/delete:<%=message._id%>">Delete</a>
      <% } %>
      <span><%= new Date(message.time_stamp).toDateString() %></span>
      <% } %>
    </div>
  </div>
  <% }) %>
</div>
<% } %>

<%- include('../partials/footer') %>