<%- include('../partials/header') %>

<h1><%= title %></h1>
<% if (currentUser) { %>
  <h2>Welcome back, <%= currentUser.email %></h2>
<% } else { %>
  <h2>Please log in</h2>
<% } %>

<% if (messages.error) { %>
  <%= messages.error %>
<% } %>

<%- include('../partials/footer') %>